webkit-scrollbar {background-color:#000}



p{ 
font-size:25px
}
a {
color:#C06616;
font-size:25px;
}
 h1{
 text-transform:uppercase;
 }
 .joli{
background-color: grey;
text-align : center;
color: white;
padding : 1em;
border : 0.5em solid black;
width  : 4em;
height : 4em;
border-radius: 100%;
 }
 .joli2{
  font-size: 64px;
  padding : 1em;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  background-color: #E4E4D9;
  background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
}

.joli3{
font-size: 38px;
box-sizing: border-box;
background-color: lightblue;
height: 100px;
text-align: right;
background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                  linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
;

}

h1{
font-size: 100px;
color: blue;
text-align: center;
letter-spacing: 60px;
}


.test{
background:url(montagne.jpg);
background-size:cover;
height:140px;
width:250px;
transition:1s;
border-radius:69px;
}


.test:hover{
background-size:cover;
height:500px;
width:750px;
transition:1s;
border-radius:1000px;
}


.lena{
background:#6D8DD6;
height:200px;
width:300px;
transition:2s;
}



.lena:hover{
background:#682999;
height:500px;
width:700px;
border-radius:300px;
transition:1s;
box-shadow:10px 20px #666;
}


.lenaa{
text-shadow:1px 2px #666;
}

.fromage{
background:#123456;
height:200px;
width:200px;
transition:1s;
border-radius:100px;
}

.fromage:hover{
background:#025382;
height:423px;
width:1000px;
transition:1s;
box-shadow:59px 78px #0765;
border-radius:50px;
border:20px solid lightblue;
}